@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đổi mật khẩu</title>
    <style>
        @@media screen and (orientation:portrait) {

            td {
                font-size: 20px;
            }

            th {
                white-space: nowrap;
            }

            #LayoutMobile {
                display: block;
            }

            #LayoutDesktop {
                display: none !important;
            }

            #LayoutDetailMobile {
                display: block;
            }

            #LayoutDetailDesktop {
                display: none;
            }
        }

        @@media screen and (orientation:landscape) {
            #LayoutMobile {
                display: none;
            }

            #LayoutDesktop {
                display: block;
            }

            #LayoutDetailMobile {
                display: none;
            }

            #LayoutDetailDesktop {
                display: block;
            }
        }

        .block {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            width: 100%
        }
    </style>
</head>
<body>
    <div class="row m-0 p-2">
        <div class="container p-4 shadow" style="max-width: 400px; border-radius: 20px; margin-top: 160px; background-color: whitesmoke">
            <h3 style="text-align: center">Đổi mật khẩu</h3>
            <br />
            <input name="__RequestVerificationToken" type="hidden" value="QYsWjzLHulkM2D8Qb0XesWBdQeqI2M1OEnkmXSVeKBvl__r9JcdLw3JD2kwi5B-rtpO6AyWAz6PtStnjbQgxkMZu80XxjU57jhfrVR49aZY1" />

            <div class="form-group">
                <input type="password" class="form-control" id="old_pwd" placeholder="Nhập mật khẩu cũ" name="old_pwd" required>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="new_pwd" placeholder="Nhập mật khẩu mới" name="new_pwd" required>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="confirm_pwd" placeholder="Nhập lại mật khẩu mới" name="confirm_pwd" required>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary btn-block" style="border-radius: 20px;" onclick="fnValidateChangePassword()"><i class="fa fa-sign-in"></i> Cập nhật</button>
        </div>
    </div>
</body>
</html>
<script>

    $(document).ready(function () {
        document.getElementById("overlay").style.display = "none";

        $("#old_pwd").removeClass("is-invalid");
        $("#new_pwd").removeClass("is-invalid");
        $("#confirm_pwd").removeClass("is-invalid");
    });
    function fnValidateChangePassword() {
        $("#old_pwd").removeClass("is-invalid");
        $("#new_pwd").removeClass("is-invalid");
        $("#confirm_pwd").removeClass("is-invalid");

        const changePassData = {
            OLD_PWD: $("#old_pwd").val(),
            NEW_PWD: $("#new_pwd").val(),
            COMFIRM_PWD: $("#confirm_pwd").val(),
        };

        if (changePassData.OLD_PWD == "") {
            $("#old_pwd").addClass("is-invalid");
        }
        else if (changePassData.NEW_PWD == "") {
            $("#new_pwd").addClass("is-invalid");
        }
        else if (changePassData.COMFIRM_PWD == "") {
            $("#confirm_pwd").addClass("is-invalid");
        }
        else if (changePassData.COMFIRM_PWD != changePassData.NEW_PWD) {
            fnShowError("Mật khẩu xác nhận không giống mật khẩu mới");
            $("#confirm_pwd").val("");
            $("#old_pwd").val("");
        }
        else {
            fnShowConfirm("Đổi mật khẩu ").then(result => {
                if (result.value) {
                    fnPostChangePassword(changePassData);
                }
            })
        }
    }

    function fnResetControl() {
        $("#old_pwd").val("");
        $("#confirm_pwd").val("");
        $("#old_pwd").val("");
    }

    function fnPostChangePassword(changePassData) {
        fnPostData(
            '@Url.Action("fnPostChangePassword","Home")',
            JSON.stringify(changePassData),
            function (msg) {
                if (msg.ErrCode == "1") {
                    fnResetControl();
                    Swal.fire({
                        icon: "success",
                        title: "SUCCESS",
                        text: "Mật khẩu đã đổi thành công!",
                        showConfirmButton: true,
                        confirmButtonText: "OK"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '@Url.Action("Login", "Home")';
                        }
                    });
                }
                else {
                    fnShowError(msg.ErrMsg);
                    fnResetControl();
                }
            }
        );
    }

</script>

