@{
    ViewBag.Title = "Phòng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Khách hàng</title>
    <style>
        @@media screen and (orientation:portrait) {

            td {
                font-size: 20px;
            }

            th {
                white-space: nowrap;
            }

            #LayoutMobile {
                display: block;
            }

            #LayoutDesktop {
                display: none !important;
            }

            #LayoutDetailMobile {
                display: block;
            }

            #LayoutDetailDesktop {
                display: none;
            }
        }

        @@media screen and (orientation:landscape) {
            #LayoutMobile {
                display: none;
            }

            #LayoutDesktop {
                display: block;
            }

            #LayoutDetailMobile {
                display: none;
            }

            #LayoutDetailDesktop {
                display: block;
            }
        }

        .block {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            width: 100%
        }
    </style>
</head>
<body>
    <!-- TOP TOOLBAR WRAPPER -->
    @*@RenderPage("~/Views/Shared/_Navbar.cshtml")*@
    <!-- END TOP TOOLBAR WRAPPER -->
    <div class="row m-0">
        <div class="col-12 m-0 p-0 shadow" style="background-color: rgba(255,255,255,0.9)">
            <div id="divGroup" class="d-flex flex-wrap">
            </div>
        </div>
        <div class="col-12" style="padding-top: 80px; margin-top: 20px;">
            <div class="row p-2 m-0">
                <div class="col-xl-2 m-10 p-10 mb-3">
                    <div class="p-3 shadow rounded-border" style="background-color: whitesmoke; border-radius: 20px;">
                        <div class="form-group">
                            <label>Mã :</label>
                            <input type="text" class="form-control" id="txtCode">
                        </div>
                        <div class="form-group">
                            <label>Tên :</label>
                            <input type="text" class="form-control" id="txtName">
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-outline-primary" style="border-radius: 20px;" onclick="fnGetRoom()"><i class="fas fa-search"></i>Tìm kiếm</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-10 m-10 p-10">
                    <div class="p-3 shadow rounded-border" style="border-radius: 20px; background-color: whitesmoke">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <button type="button"
                                        id="add-room-btn"
                                        class="btn btn-primary"
                                        style="margin-bottom: 8px; border-radius: 20px;">
                                    <i class="fas fa-plus"></i> Thêm
                                </button>
                            </div>
                        </div>
                        <div id="LayoutDesktop">
                            <table id="room-table" class="table table-rounded table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Mã phòng</th>
                                        <th>Tên phòng</th>
                                        <th>Sức chứa</th>
                                        <th>Địa chỉ</th>
                                        <th>Trạng thái</th>
                                        <th>Ghi chú</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="LayoutMobile">
                            <input type="text" id="txtSearchInvoice" class="form-control mb-3" placeholder="Tìm kiếm mã, tên...." />
                            <div id="cardRoom"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="room-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 20px">
                <div class="modal-header">
                    <h4 class="modal-title">Phòng</h4>
                    <button type="button" class="close" data-dismiss="modal" id="close-modal">&times;</button>
                </div>
                <form id="room-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Mã</label>
                            <label style="color: red;">(*)</label>
                            <input type="text" id="room-code" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label>Tên</label>
                            <label style="color: red;">(*)</label>
                            <input type="text" id="room-name" class="form-control" />
                            <div class="invalid-feedback">err</div>
                        </div>
                        <div class="form-group">
                            <label>Sức chứa</label>
                            <label style="color: red;">(*)</label>
                            <input type="text" id="room-capacity" class="form-control" />
                            <div class="invalid-feedback">err</div>
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <label style="color: red;">(*)</label>
                            <input type="text" id="room-address" class="form-control" />
                            <div class="invalid-feedback">err</div>
                        </div>
                        <div class="form-group">
                            <label>Trạng thái</label>
                            <label style="color: red;">(*)</label>
                            <select id="room-status" class="form-control">
                                <option value="ACTIVE">Sử dụng</option>
                                <option value="INACTIVE">Không sử dụng</option>
                            </select>
                            <div class="invalid-feedback">err</div>
                        </div>
                        <div class="form-group">
                            <label>Ghi chú</label>
                            <input type="text" id="room-note" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit"
                                class="btn btn-success rounded-border">
                            <i class="fa fa-save"></i> Lưu
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    let _list_room = [];
    let _room_index = -1;
    var _room_action = "";
    var _room_id = 0;

	$(document).ready(function () {
        fnSetupTHTable('room-table');
        fnGetRoom();

        document.getElementById("overlay").style.display = "none";
        $("#room-modal").on("show.bs.modal", function (e) {
            $("#room-code").removeClass("is-invalid");
            $("#room-name").removeClass("is-invalid");
		});

        $("#add-room-btn").on("click", function () {
			fnOpenAddRoomModal();
		});

        $("#close-modal").on("click", function () {
            $("#room-modal").modal("hide");
        });

        $("#room-form").on("submit", function (e) {
			e.preventDefault();
			fnValidateToPostRoom();
        });

        $('#txtSearchInvoice').on('keyup', function () {
            const searchValue = $(this).val();
            fnUpdateRoomCard(searchValue);
        });
	});

    function fnGetRoom() {
        const customer = {
            ROOM_CODE: $("#txtCode").val(),
            ROOM_NAME: $("#txtName").val(),
		}
		fnPostData(
			'@Url.Action("fnGetRoom", "Home")',
            JSON.stringify(customer),
			function (msg) {
                _list_room = msg.list;
                fnUpdateCustomerDataTable();
                fnUpdateRoomCard();
			}
		);
	}

	function HandleBrowseClick() {
        var fileinput = document.getElementById("file-template");
        fileinput.click();
    }

    function Handlechange() {
        var fileinput = document.getElementById("file-template");
        var textinput = document.getElementById("filename");
        textinput.value = fileinput.value;
	}

    function fnUpdateCustomerDataTable() {
        if (!$.fn.dataTable.isDataTable('#room-table')) {
            const table = $('#room-table').DataTable({
				"dom": 'lrtip', "paging": false,
				"order": [],
				"scrollX": true,
				"scrollY": "60vh",
				"scrollCollapse": true,
				"initComplete": function () {
					// Apply the search
					this.api().columns().every(function () {
						var that = this;
						$('input', this.header()).on('keyup change clear', function () {
							if (that.search() !== this.value) {
								that
									.search(this.value)
									.draw();
							}
						});
					});
				},
				"responsive": true,
				"destroy": true,
				"columns": [
					{
						data: null,
						render: function (data, type, row) {
							return "";
						}
                    },
                    { data: 'ROOM_CODE' },
                    { data: 'ROOM_NAME' },
                    { data: 'CAPACITY' },
                    { data: 'LOCATION' },
                    {
                        data: 'STATUS',
                        render: function (data) {
                            if (data === 'ACTIVE') {
                                return '<span class="badge badge-success">Đang sử dụng</span>';
                            } else {
                                return '<span class="badge badge-secondary">Không sử dụng</span>';
                            }
                        }
                    },
                    { data: 'NOTE' },
					{
						data: null,
						render: function (data, type, row) {
							let htmlActionContent = ``;
							htmlActionContent +=
							`<a href="javascript:void(0);"
								class="badge badge-pill bg-success"
								onclick="fnOpenEditRoomModal(${_list_room.indexOf(row)})">
								<i class="fas fa-edit"></i> Sửa
							</a>`;
							htmlActionContent +=
							`<a href="javascript:void(0);"
								class="badge badge-pill bg-danger"
								onclick="fnRemoveRoomClick(${_list_room.indexOf(row)})">
								<i class="fas fa-trash"></i> xóa
							</a>`;
							return htmlActionContent;
						}
					},
				],
				'columnDefs': [
					{
						targets: 7,
						createdCell: function (td, cellData, rowData, row, col) {
							$(td).css('min-width', '130px');
							$(td).css('text-align', 'right');
						},
					},
                ],
			});
			table.on('order.dt search.dt', function () {
				table.column(0, {
					search: 'applied', order: 'applied'
				}).nodes().each(function (cell, i) {
					cell.innerHTML = i + 1;
				});
			}).draw();
		}
        $('#room-table').dataTable().fnClearTable();
        if (_list_room.length > 0) {
            $('#room-table').dataTable().fnAddData(_list_room);
		}
        fnUpdateDatalistTable('room-table');
    }

    function fnUpdateRoomCard(filter = '') {
        var html = ``;
        let keyword = filter.toLowerCase();

        _list_room
            .filter(item =>
                item.ROOM_CODE.toLowerCase().includes(keyword) ||
                item.ROOM_NAME.toLowerCase().includes(keyword) 
            ).forEach(function (item, index) {
                html += ``;
                html += `<div class="card col-12 mb-3 shadow" style="border-radius: 20px; background-color: whitesmoke ">`;
                html += `<div class="card-body border-0">`;
                html += `<div class="list-name-1">`;
                html += `<div class="d-flex justify-content-between" style="width:100%">`;
                html += `<div style="width:100%">`;
                html += `<div class="row">`;
                html += `<div class="col-xr-4 mr-3">`;
                html += `<h3 class=" badge-pill badge-success shadow" style="font-size:25px">${item.ROOM_CODE}</h3>`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="row mt-2">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px; white-space: normal; word-break: break-word;">Name: ${item.ROOM_NAME}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px">Capacity: ${item.CAPACITY}</h4>`;
                html += `</div>`;
                html += `<div class="row mt-2">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px; white-space: normal; word-break: break-word;">Address: ${item.LOCATION}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px; white-space: normal; word-break: break-word;">Status: ${item.STATUS}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px; white-space: normal; word-break: break-word;">Note: ${item.NOTE}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                html += `</div>`;
                html += `<div class="d-flex mt-2 gap-2">`;

                html += `<a href="javascript:void(0);"
                    class="badge bg-warning text-dark flex-fill text-center py-2"
                    onclick="fnOpenEditRoomModal(${_list_room.indexOf(item)})">
                    <i class="fas fa-edit"></i> Sửa
                </a>`;

                html += `<a href="javascript:void(0);"
                    class="badge bg-danger text-white flex-fill text-center py-2"
                    onclick="fnRemoveRoomClick(${_list_room.indexOf(item)})">
                    <i class="fas fa-trash"></i> Xóa
                </a>`;

                html += `</div>`;

                html += `</div>`;
                html += `</div>`;
                html += `</div>`;
                html += `</div>`;
                html += `</div>`;
            });
        $('#cardRoom').empty();
        $('#cardRoom').html(html);
    }

    function fnOpenAddRoomModal() {
        _room_action = "INSERT";
        $("#room-code").val("");
        $("#room-code").focus();
        $("#room-name").val("");
        $("#item-capacity").val("");
        $("#room-address").val("");
        $("#room-status").val("ACTIVE");
        $("#room-note").val("");
        $("#room-modal").modal("show");
	}

    function fnOpenEditRoomModal(index) {
        _room_index = index;
        _room_action = "UPDATE";
        const selectedRoom = _list_room[index];
        _room_id = selectedRoom.ROOM_ID;
        $("#room-code").val(selectedRoom.ROOM_CODE);
        $("#room-code").focus();
        $("#room-name").val(selectedRoom.ROOM_NAME);
        $("#room-capacity").val(selectedRoom.CAPACITY);
        $("#room-address").val(selectedRoom.LOCATION);
        $("#room-status").val(selectedRoom.STATUS);
        $("#room-note").val(selectedRoom.NOTE);
        $("#room-modal").modal("show");
	}

    function fnRemoveRoomClick(index) {
		if (index > -1) {
            const selectedRoom = _list_room[index];
            fnShowConfirm("DELETE " + selectedRoom.ROOM_NAME).then(result => {
				if (result.value) {
                    fnRemoveRoom(selectedRoom);
				}
			});
		}
	}

    function fnValidateToPostRoom() {
        $("#room-code").removeClass("is-invalid");
        $("#room-name").removeClass("is-invalid");
        $("#room-capacity").removeClass("is-invalid");
        $("#room-address").removeClass("is-invalid");
        $("#room-status").removeClass("is-invalid");
        const roomData = {
            ROOM_ID: _room_id,
            ROOM_CODE: $("#room-code").val(),
            ROOM_NAME: $("#room-name").val(),
            CAPACITY: $("#room-capacity").val(),
            LOCATION: $("#room-address").val(),
            STATUS: $("#room-status").val(),
            NOTE: $("#room-note").val(),
            ACTION: _room_action,
		};
        if (roomData.ROOM_NAME == "") {
            $("#room-name").addClass("is-invalid");
		}
        else if (roomData.ROOM_CODE == "") {
            $("#room-code").addClass("is-invalid");
        }
        else if (roomData.CAPACITY <= 0) {
            $("#room-capacity").addClass("is-invalid");
        }
        else if (roomData.LOCATION == "") {
            $("#room-location").addClass("is-invalid");
        }
        else if (_list_room.some(s => s.ROOM_CODE == roomData.ROOM_CODE)
            && (_list_room[_room_index].ROOM_CODE != roomData.ROOM_CODE)) {
			fnShowError("ERR")
		}
		else {
            fnShowConfirm("Lưu ").then(result => {
				if (result.value) {
                    fnPostRoom(roomData);
				}
			})
		}
	}

    function fnPostRoom(room) {
		fnPostData(
			'@Url.Action("fnPostRoom", "Home")',
            JSON.stringify(room),
			function (msg) {
				if (msg.ErrCode == "1") {
                    $("#room-modal").modal("hide");
					fnShowSuccess();
                    fnGetRoom();
                    _room_action = "";
                    _room_id = 0;
				}
				else {
					fnShowError(msg.ErrMsg);
				}
			}
		);
    }

    function fnRemoveRoom(room) {
		fnPostData(
			'@Url.Action("fnPostRoom", "Home")',
            JSON.stringify(room),
			function (msg) {
				if (msg.ErrCode == "1") {
                    $("#room-modal").modal("hide");
                    fnShowSuccess();
                    fnGetRoom();
				}
				else {
					fnShowError(msg.ErrMsg);
				}
			}
		);
	}
</script>
