@{
    ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh sách người dùng</title>
    <style>
        @@media screen and (orientation:portrait) {

            td {
                font-size: 20px;
            }

            th {
                white-space: nowrap;
            }

            #LayoutMobile {
                display: block;
            }

            #LayoutDesktop {
                display: none !important;
            }

            #LayoutDetailMobile {
                display: block;
            }

            #LayoutDetailDesktop {
                display: none;
            }
        }

        @@media screen and (orientation:landscape) {
            #LayoutMobile {
                display: none;
            }

            #LayoutDesktop {
                display: block;
            }

            #LayoutDetailMobile {
                display: none;
            }

            #LayoutDetailDesktop {
                display: block;
            }
        }

        .block {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            width: 100%
        }
    </style>
</head>
<body>
    <!-- TOP TOOLBAR WRAPPER -->
    @*@RenderPage("~/Views/Shared/_Navbar.cshtml")*@
    <!-- END TOP TOOLBAR WRAPPER -->
    <div class="row m-0">
        <div class="col-12 m-0 p-0 shadow" style="background-color: rgba(255,255,255,0.9)">
            <div id="divGroup" class="d-flex flex-wrap">
            </div>
        </div>
        <div class="col-12" style="padding-top: 80px; margin-top: 20px;">
            <div class="row p-2 m-0">
                <div class="col-xl-2 m-10 p-10 mb-3">
                    <div class="p-3 shadow rounded-border" style="background-color: whitesmoke; border-radius: 20px;">
                        <div class="form-group">
                            <label>Tên đăng nhập:</label>
                            <input type="text" class="form-control" id="txtUserName">
                        </div>
                        <div class="form-group">
                            <label>Tên người dùng:</label>
                            <input type="text" class="form-control" id="txtFullName">
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-outline-primary" style="border-radius: 20px;" onclick="fnGetUser()"><i class="fas fa-search"></i>Tìm kiếm</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-10 m-10 p-10">
                    <div class="p-3 shadow rounded-border" style="border-radius: 20px; background-color: whitesmoke">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <button type="button"
                                        id="add-user-btn"
                                        class="btn btn-primary"
                                        style="margin-bottom: 8px; border-radius: 20px;">
                                    <i class="fas fa-plus"></i> Thêm
                                </button>
                            </div>
                        </div>
                        <div id="LayoutDesktop">
                            <table id="user-table" class="table table-rounded table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Tên đăng nhập</th>
                                        <th>Tên người dùng</th>
                                        <th>Quyền</th>
                                        <th>Trạng thái</th>
                                        <th>Công ty</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="LayoutMobile">
                            <input type="text" id="txtSearchUser" class="form-control mb-3" placeholder="Tìm kiếm tên đăng nhập, tên người dùng..." />
                            <div id="cardUser"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="user-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 20px">
                <div class="modal-header">
                    <h4 class="modal-title">Người dùng</h4>
                    <button type="button" class="close" data-dismiss="modal" id="close-modal">&times;</button>
                </div>
                <form id="user-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Tên đăng nhập</label>
                            <label style="color: red;">(*)</label>
                            <input type="text" id="user-name" class="form-control" />
                            <div class="invalid-feedback">err</div>
                        </div>
                        <div class="form-group">
                            <label>Tên người dùng</label>
                            <label style="color: red;">(*)</label>
                            <input type="text" id="user-fullname" class="form-control" />
                            <div class="invalid-feedback">err</div>
                        </div>
                        <div class="form-group">
                            <label>Quyền</label>
                            <label style="color: red;">(*)</label>
                            <select id="user-role" class="form-control">
                                <option value="1">Admin</option>
                                <option value="0">User</option>
                            </select>
                            <div class="invalid-feedback">err</div>
                        </div>
                        <div class="form-group">
                            <label>Trạng thái</label>
                            <label style="color: red;">(*)</label>
                            <select id="user-status" class="form-control">
                                <option value="true">Kích hoạt</option>
                                <option value="false">Ẩn</option>
                            </select>
                            <div class="invalid-feedback">err</div>
                        </div>
                        <div class="form-group">
                            <label>Công ty</label>
                            <label style="color: red;">(*)</label>
                            <select id="user-company-code" class="form-control" onchange="">
                            </select>
                            <div class="invalid-feedback">err</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit"
                                class="btn btn-success rounded-border">
                            <i class="fa fa-save"></i> Lưu
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    let _list_user = [];
    let _list_company = [];
    let _user_index = -1;
    var _user_action = "";
    var _permissionSelect = "";

	$(document).ready(function () {
        fnSetupTHTable('user-table');
        fnGetUser();
        fnGetCompany();

        document.getElementById("overlay").style.display = "none";
        $("#user-modal").on("show.bs.modal", function (e) {
            $("#user-name").removeClass("is-invalid");
            $("#user-fullname").removeClass("is-invalid");
		});

        $("#add-user-btn").on("click", function () {
			fnOpenAddUserModal();
		});

        $("#close-modal").on("click", function () {
            $("#user-modal").modal("hide");
        });

        $("#user-form").on("submit", function (e) {
			e.preventDefault();
            fnValidateToPostUser();
        });

        $('#txtSearchUser').on('keyup', function () {
            const searchValue = $(this).val();
            fnUpdateUserCard(searchValue);
        });
	});

    function fnGetUser() {
        const user = {
            USERNAME: $("#txtUserName").val(),
            FULLNAME: $("#txtFullName").val(),
		}
		fnPostData(
			'@Url.Action("fnGetUser", "Home")',
            JSON.stringify(user),
			function (msg) {
                _list_user = msg.list;
                _permissionSelect = msg.permissionSelectCompany;
                fnUpdateUserDataTable();
                fnUpdateUserCard();
			}
		);
	}

	function HandleBrowseClick() {
        var fileinput = document.getElementById("file-template");
        fileinput.click();
    }

    function Handlechange() {
        var fileinput = document.getElementById("file-template");
        var textinput = document.getElementById("filename");
        textinput.value = fileinput.value;
	}

    function fnUpdateUserDataTable() {
        if (!$.fn.dataTable.isDataTable('#user-table')) {
            const table = $('#user-table').DataTable({
				"dom": 'lrtip', "paging": false,
				"order": [],
				"scrollX": true,
				"scrollY": "60vh",
				"scrollCollapse": true,
				"initComplete": function () {
					// Apply the search
					this.api().columns().every(function () {
						var that = this;
						$('input', this.header()).on('keyup change clear', function () {
							if (that.search() !== this.value) {
								that
									.search(this.value)
									.draw();
							}
						});
					});
				},
				"responsive": true,
				"destroy": true,
				"columns": [
					{
						data: null,
						render: function (data, type, row) {
							return "";
						}
                    },

                    { data: 'USERNAME' },
                    { data: 'FULLNAME' },
                    {
                        data: 'ROLE',
                        className: 'text-left',
                        render: function (data) {
                            if (data == null) return '';
                            else {
                                if (data == true) {
                                    return "Admin";
                                }
                                else {
                                    return "User";
                                }
                            }

                        }
                    },
                    {
                        data: 'ISACTIVE',
                        className: 'text-left',
                        render: function (data) {
                            if (data == null) return '';
                            else {
                                if (data == true) {
                                    return "Kích hoạt";
                                }
                                else {
                                    return "Ẩn";
                                }
                            }
                        }
                    },
                    { data: 'COMPANY_NAME' },
					{
						data: null,
						render: function (data, type, row) {
							let htmlActionContent = ``;
							htmlActionContent +=
							`<a href="javascript:void(0);"
								class="badge badge-pill bg-success"
								onclick="fnOpenEditUserModal(${_list_user.indexOf(row)})">
								<i class="fas fa-edit"></i> Sửa
							</a>`;
							htmlActionContent +=
							`<a href="javascript:void(0);"
								class="badge badge-pill bg-danger"
								onclick="fnRemoveUserClick(${_list_user.indexOf(row)})">
								<i class="fas fa-trash"></i> xóa
							</a>`;
							return htmlActionContent;
						}
					},
				],
				'columnDefs': [
					{
						targets: 5,
						createdCell: function (td, cellData, rowData, row, col) {
							$(td).css('min-width', '130px');
							$(td).css('text-align', 'right');
						},
					},
                ],
			});
			table.on('order.dt search.dt', function () {
				table.column(0, {
					search: 'applied', order: 'applied'
				}).nodes().each(function (cell, i) {
					cell.innerHTML = i + 1;
				});
			}).draw();
		}
        $('#user-table').dataTable().fnClearTable();
        if (_list_user.length > 0) {
            $('#user-table').dataTable().fnAddData(_list_user);
		}
        fnUpdateDatalistTable('user-table');
    }

    function fnUpdateUserCard(filter = '') {
        var html = ``;
        let keyword = filter.toLowerCase();

        _list_user
            .filter(item =>
                item.USERNAME.toLowerCase().includes(keyword) ||
                item.FULLNAME.toLowerCase().includes(keyword)
            ).forEach(function (item, index) {
                html += ``;
                html += `<div class="card col-12 mb-3 shadow" style="border-radius: 20px; background-color: whitesmoke ">`;
                html += `<div class="card-body border-0">`;
                html += `<div class="list-name-1">`;
                html += `<div class="d-flex justify-content-between" style="width:100%">`;
                html += `<div style="width:100%">`;
                html += `<div class="row">`;
                html += `<div class="col-xr-4 mr-3">`;
                html += `<h3 class=" badge-pill badge-success shadow" style="font-size:25px">${item.USERNAME}</h3>`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="row mt-2">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px; white-space: normal; word-break: break-word;">Name: ${item.FULLNAME}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px">Role: ${item.ROLE}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px">Status: ${item.ISACTIVE}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                html += `</div>`;
                html += `<div class="d-flex mt-2 gap-2">`;

                html += `<a href="javascript:void(0);"
                    class="badge bg-warning text-dark flex-fill text-center py-2"
                    onclick="fnOpenEditUserModal(${_list_user.indexOf(item)})">
                    <i class="fas fa-edit"></i> Sửa
                </a>`;

                html += `<a href="javascript:void(0);"
                    class="badge bg-danger text-white flex-fill text-center py-2"
                    onclick="fnRemoveUserClick(${_list_user.indexOf(item)})">
                    <i class="fas fa-trash"></i> Xóa
                </a>`;

                html += `</div>`;

                html += `</div>`;
                html += `</div>`;
                html += `</div>`;
                html += `</div>`;
                html += `</div>`;
            });
        $('#cardUser').empty();
        $('#cardUser').html(html);
    }

    function fnOpenAddUserModal() {
        _user_index = -1;
        _user_action = "INSERT";
        $("#user-name").val("").prop("readonly", false);
        $("#user-name").focus();
        $("#user-fullname").val("");
        $("#user-role").val("0")
        $("#user-status").val("true");
        $("#user-company-code").val(_permissionSelect);

        $("#user-modal").modal("show");
	}

    function fnOpenEditUserModal(index) {
        _user_index = index;
        _user_action = "EDIT";
        const selectedUser = _list_user[index];
        _user_index = selectedUser.USERID;
        $("#user-name").val(selectedUser.USERNAME).prop("readonly", true);
        $("#user-fullname").val(selectedUser.FULLNAME);
        $("#user-fullname").focus();
        $("#user-role").val(selectedUser.ROLE);
        $("#user-status").val(selectedUser.ISACTIVE == 1 ? "true" : "false");
        $("#user-company-code").val(selectedUser.COMPANY_CODE);
        $("#user-modal").modal("show");
	}

    function fnRemoveUserClick(index) {
		if (index > -1) {
            const selectedUser = _list_user[index];
            fnShowConfirm("DELETE " + selectedUser.USERID).then(result => {
				if (result.value) {
                    fnRemoveUser(selectedUser);
				}
			});
		}
	}

    function fnValidateToPostUser() {
        $("#user-name").removeClass("is-invalid");
        $("#user-fullname").removeClass("is-invalid");
        const userData = {
            USERID: _user_index,
            USERNAME: $("#user-name").val(),
            FULLNAME: $("#user-fullname").val(),
            ROLE: $("#user-role").val(),
            STATUS_ID: $("#user-status").val(),
            COMPANY_CODE: $("#user-company-code").val(),
            ACTION: _user_action,
        };
        if (userData.USERNAME == "") {
            $("#user-name").addClass("is-invalid");
        }
        else if (userData.FULLNAME == "") {
            $("#user-fullname").addClass("is-invalid");
        }
        else if (userData.COMPANY_CODE == "") {
            $("#user-company-code").addClass("is-invalid");
        }
        else if (_list_user.some(s =>
            s.USERNAME == userData.USERNAME) && _user_index == -1) {
            fnShowError("ERR");
        }
		else {
            fnShowConfirm("Lưu " + userData.USERNAME).then(result => {
				if (result.value) {
                    fnPostUser(userData);
				}
			})
		}
	}

    function fnPostUser(user) {
		fnPostData(
			'@Url.Action("fnPostUser", "Home")',
            JSON.stringify(user),
			function (msg) {
				if (msg.ErrCode == "1") {
                    $("#user-modal").modal("hide");
					fnShowSuccess();
                    fnGetUser();
				}
                else {
					fnShowError(msg.ErrMsg,"Lỗi");
				}
			}
		);
    }

    function fnRemoveUser(user) {
		fnPostData(
			'@Url.Action("fnPostUser", "Home")',
            JSON.stringify(user),
			function (msg) {
				if (msg.ErrCode == "1") {
                    $("#user-modal").modal("hide");
					fnShowSuccess();
                    fnGetUser();
				}
				else {
					fnShowError(msg.ErrMsg);
				}
			}
		);
    }

    function fnGetCompany() {
        var item = {
            
        };
        fnPostDataWithoutOverlay(
            '@Url.Action("fnGetCompany", "Home")',
            JSON.stringify(item),
            function (msg) {
                if (_permissionSelect != "") {
                    _list_company = msg.list.filter(x => x.COMPANY_CODE == _permissionSelect);
                }
                else {
                    _list_company = msg.list;
                }
               
                fnUpdateListCompany(_list_company);
            }
        );
    }
    function fnUpdateListCompany(list) {
        var html = '<option value=""></option>';
        list.forEach(function (item, index) {
            html += '<option value="' + item.COMPANY_CODE + '">' + item.COMPANY_NAME + '</option>';
        });
        $('#user-company-code').empty();
        $('#user-company-code').html(html);
    }
</script>

